.venv
.vscode
.DS_Store
__pycache__
checkpoints/*
data/*
logs/*
wandb/*

# Ignore model checkpoints
CondFoleyGen/specvqgan/melgan_ckpt/best_netG.pt
CondFoleyGen/specvqgan/modules/autoencoder/lpaps/vggishish16.pt